canvas {
	width: 70%;
	height: auto;
	border-radius: 5px;
	/* size: 60%; */
}

#scenediv {
	padding-left: 1%;
	padding-right: 1%;
	padding-top: 2%;
	text-align: center;
	/* color: #000000; */
}

#b {
	color: #ff4747c4;
}
